/* app/globals.css */
@import "tailwindcss";

:root { --df-offset: 220px; }

html, body, #__next { height: 100%; }

/* Google Maps container styles */
.gm-style {
  height: 100% !important;
  width: 100% !important;
}

/* Google Maps info window styles */
.gm-style-iw {
  max-width: 300px !important;
}



